*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.main{
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar{
    width: 220px;
    background: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar h2{
    margin-bottom: 30px;
}

.sidebar ul{
    list-style: none;
}

.sidebar li{
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.sidebar li:hover,
.sidebar .active{
    background: #3b82f6;
}

/* Content */
.content{
    flex: 1;
    padding: 25px;
    background: #f1f5f9;
}

/* Topbar */
.topbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Table */
.table-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background: #3b82f6;
    color: white;
    padding: 12px;
}

td{
    padding: 12px;
    text-align: center;
}

tr:nth-child(even){
    background: #f8fafc;
}

/* Status */
.submitted{
    color: green;
    font-weight: bold;
}

.pending{
    color: orange;
    font-weight: bold;
}

/* Button */
button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

button:hover{
    background: #16a34a;
}

a{
    text-decoration: none;
    color: #3b82f6;
}